<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Existing debug-only HR host -->
        <activity
            android:name=".hr.ui.livehr.LiveHeartRateHostActivity"
            android:exported="true"
            tools:replace="android:exported" />

        <!-- Debug BLE test screens ported from bluetoothtest -->
        <activity
            android:name=".debug.BluetoothDebugScanActivity"
            android:exported="true" />

        <activity
            android:name=".debug.BluetoothDebugWorkoutActivity"
            android:exported="false" />
    </application>

</manifest>
