<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Keep the activity available in debug, but NOT the launcher -->
        <activity
            android:name=".hr.ui.livehr.LiveHeartRateHostActivity"
            android:exported="true"
            tools:replace="android:exported" />
    </application>

</manifest>
